.content__main__footer--message
  = text_field :message, "", placeholder: "type a message"
= link_to "/", style: "color:black" do
  .content__main__footer--picture
    = fa_icon "file-picture-o"
= link_to "/" do
  .content__main__footer--send
    Send
