= link_to new_group_message_path(group), style: "text-decoration: none;" do
  %li.content__side__group
    = content_tag :div, group.name, class: "content__side__group__name"
    = content_tag :div, group.latest_message, class: "content__side__group__text"

