%li.content__main__chat__message
  = content_tag :span, message.user.name, class: "content__main__chat__message__name"
  = content_tag :span, message.updated_at, class: "content__main__chat__message__time"
  = content_tag :div, message.body, class: "content__main__chat__message__text"
  = image_tag message.image, class: "content__main__chat__image" if message.image.present?

