.content__side__header
  .content__side__header__user
    seo
  .content__side__header__icon
    = link_to "/", style: "color:white" do
      = fa_icon "edit"
      = fa_icon "gear"
%ul
  %li.content__side__group
    .content__side__group__name sample
    %p Good bye world!
  %li.content__side__group
    .content__side__group__name sample2
    %p Good bye world!
