.content
  .content__side
    = render "side"
  - if @group
    .content__main
      .content__main__header
        .content__main__header__group
          .content__main__header__group__name
          %p Member: seo neko
        = link_to group_messages_path do
          .content__main__header--edit
            %p Edit
      .content__main__chat
        %ul
          %li.content__main__chat__message
            %h2
              seo<span class="time">2016/07/21 06:12:50</span>
            %p Hello world!
          %li.content__main__chat__message
            %h2
              neko<span class="time">2016/07/21 06:13:20</span>
            %p Good bye world!
      .content__main__footer
        = render "footer"
