.content
  .content__side
    .content__side__header
      .content__side__header__user
        %h2 seo
      .content__side__header__icon
        = fa_icon "edit"
        = fa_icon "gear"
    %ul
      %li.content__side__group
        %h2 sample
        %p Good bye world!
      %li.content__side__group
        %h2 sample2
        %p Good bye world!
