.content
  .content__side
    = render "side"
  .content__main
    .content__main__header
      .content__main__header__group
        %h2 sample
        %p Members: seo neko
      .content__main__header--edit
        %strong Edit
    .content__main__chat
      %ul
        %li.content__main__chat__message
          %h2
            seo<span class="timestamps">2016/07/21 06:12:50</span>
          %p Hello world!
        %li.content__main__chat__message
          %h2
            neko<span class="timestamps">2016/07/21 06:13:20</span>
          %p Good bye world!
    .content__main__footer
      = render "footer"
