// sidebar
$side-text:#FFFFFF;
$side-header:#253141;
$side-groups:#2f3e51;
// main
$main:#AAAAAA;
$main-group:#333333;
$main-members:#999999;
$main-button:#38AEF0;
$main-border:#eeeeee;
$main-text:#434A54;
$main-time:#999999;

