.error {
  background-color: #f2dede;
  padding: 10px auto;
  font-size: 15px;
  text-align: center;
}

.alert {
  background-color: #f2dede;
  padding: 10px auto;
  font-size: 15px;
  text-align: center;
 }

.success {
  background-color: #dff0d8;
  padding: 10px auto;
  font-size: 15px;
  text-align: center;
 }

.notice {
   background-color: #dff0d8;
   padding: 10px auto;
   font-size: 15px;
   text-align: center;
 }

