.alert {
  padding-left: 50px;
  font-size: 15px;
}

.alert-error {
  background-color: #ff4c82;
}

.alert-alert {
  background-color: #ff4c82;
 }

.alert-success {
    background-color: #bee8a2;
 }

 .alert-notice {
   background-color: #bee8a2;
 }
