.content__main {
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
  &__header {
    width: calc(100% - 80px);
    height: 15%;
    position: relative;
    padding: 0 40px;
    border-bottom: solid $main-border;
    background-color: #FFFFFF;
    &__group {
      padding: 35px 0 15px 0;
      float: left;
      &__name {
        font-size: 20px;
        color: $main-group;
        font-weight: bold;
        padding-bottom: 15px;
      }
      &__member {
        font-size: 12px;
        color: $main-members;
      }
    }
    &--edit {
      margin-top: 28px;
      height: 40px;
      line-height: 40px;
      border: solid $main-button;
      padding: 0 20px;
      float: right;
      color: $main-button;
      text-decoration: none;
    }
  }
  &__chat {
    width: calc(100% - 80px);
    height: calc(100% - 370px);
    padding: 46px 40px 90px 40px;
    background-color: #FFFFFF;
    clear: both;
    overflow: scroll;
    &__message {
      &__name {
        padding-bottom: 10px;
        font-size: 16px;
        color: $main-text;
        font-weight: bold;
      }
      &__time {
          margin-left: 10px;
          color: $main-time;
          font-size: 12px;
      }
      &__text {
        font-size: 14px;
        padding-bottom: 40px;
      }
    }
  }
  &__footer {
    width: calc(100vw - 300px - 80px);
    bottom: 0;
    position: absolute;
    background-color: $main;
    padding: 20px 40px 20px 40px;
    &--message {
      width: calc(100% - 134px);
      height: 100%;
      font-size: 16px;
      padding-left: 10px;
      height: 46px;
      line-height: 46px;
      float: left;
    }
    &--picture {
      padding: 0 10px;
      height: 50px;
      line-height: 50px;
      float: left;
      background-color: #FFFFFF;
    }
    &--send {
      margin-left: 15px;
      padding: 0 20px;
      height: 50px;
      line-height: 50px;
      background-color: $main-button;
      color: #FFFFFF;
      float: left;
    }
  }
}

