- flash.each do |key, value|
  = content_tag :div, = value, class: "alert alert= key"
-#
-# - if notice
-#   = content_tag :p, notice, class: "alert alert-notice"
-# - if alert
-#   = content_tag :p, alert, class: "alert alert-error"
